* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

// Main styles
